@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300;1,400&display=swap");

:root{
    --mainColor:#64bcf4;
    --hoverColor:#64bcf4;
    --backgroundColor: #ABA1C6;
    --darkOne: #312f34;
    --darkTwo:#45424d;
    --lightOne:hsl(0, 29%, 95%);
    --lightTwo:#ffea00;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'poppings', sans-serif;
    background-color: var(--backgroundColor);
}
header{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}
nav{
    height: 80px;
    width: 100%;
    background: var(--backgroundColor);
}
label.logo{
        width: 120px;
        margin-left: 2.0rem;
        margin-top: -0.6rem;
}
.logo img{
    width: 130px;
    height: 85px;
}
nav ul{
    float: right;
    margin-right: 8rem;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color:var(--lightTwo);
    font-size: 20px;
    text-transform: uppercase;
}
nav ul li a:hover{
    background:darkorange;
    transition: .5s;
    border-radius: 6px;
    padding: 3px;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;

}
#check{
    display: none;

}

.pic{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}
.slides input{
    display: none;

}
.slides{
    width: 500%;
    height: 500px;
    display: flex

}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 800px;
    height: 500px;

}
.navigation-manual{
position: absolute;
width: 800px;
margin-top: 470px;
display: flex;
justify-content: center;

}
.manual-btn{
border: 2px solid rgb(243, 223, 43);
padding: 5px;
border-radius: 10px;
cursor: pointer;
transition: 1s;

}
.manual-btn:not(:last-child){
    margin-right: 40px;

}
.manual-btn:hover{
    background: #64bcf4;
}
#radio1:checked ~ .first{
margin-left: 0;

}
#radio2:checked ~ .first{
    margin-left: -20%;
    
    }
    #radio3:checked ~ .first{
        margin-left: -40%;
        
        }
        #radio4:checked ~ .first{
            margin-left: -60%;
            
            }
 .navigation-auto{
position: absolute;
display: flex;
width: 800px;
justify-content: center;
margin-top: 472px;
 }  
.navigation-auto div{
    border: 2px solid  rgb(243, 223, 43);
    padding: 5px;
    border-radius: 10px;
    transform: 1s;
 }  
 .navigation-auto div:not(:last-child){
    margin-right: 40px;
 }    
 #radio1:checked ~ .navigation-auto .auto-btn1{
    background:#64bcf4;
 }  
 #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #64bcf4;
 }    
 #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #64bcf4;
 }    
 #radio4:checked ~ .navigation-auto .auto-btn4{
    background:#64bcf4 ;
 }    

 .info{
    padding: 6vh 6vh 6vh 4vh;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
 }

 .cards{
    background: #919191;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    height: auto;
 }
 .cards img{
    height: 300px;
    width: 350px;
    padding: 10px;
 }
 .cards h2{
    font-size: 1.2rem;
 }
 .cards p{
    font-size: .8rem;
 }
.cards .btn{
    width: 100px;
    height: 35px;
    background-color: #ffea00;
    border-radius: 6px;
 }
.btn a{
    color: hwb(0 3% 95%);
    text-decoration: none;
    font-size: 12px;
}
.btn:hover{
    background: slateblue;
}


footer{
    margin-top: 20px;
    width: 100%;
    height: 400px;
    background: #312f34;
}
.footer_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px;
}
.footer_content ul li{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    list-style: none;
    cursor: pointer;
    transition: all ease 0.3s;
}
.footer_content ul li a{
    text-decoration: none;
    color: white;
    
}
.footer_content ul li a:hover{
    color: #64bcf4;
}
.footer_content button{
width: 7rem;
height: 3rem;
border-radius: 6px;
cursor: pointer;
background: red;

}

@media (max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width:858px){
    .checkbtn{
        display: block;
    }
  .header{
    position: relative;
  }
    ul{
        position: absolute;
        width: 100%;
        height: 70vh;
        background: black;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 9999;
    }
    nav ul li{
        display: block;
        margin: 60px 0;
        line-height: 30px;
        padding: 10px;
    }
    nav ul li a{
        font-size: 22px;
    }
    a:hover, a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}




